/* src/app/app.component.scss */

$primary-color: #0F0F0F;
$secondary-color: #ffffff;
$accent-color: #B59059;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $secondary-color;
  color: $primary-color;
}

.header {
  background: $primary-color;
  color: $secondary-color;

  .logo{
    img{
      margin-left: 16px;
    }
    h3{
      font-size: 23.47px;
      line-height: 28.4px;
      font-weight: 400;
    }
  }


  .menu-toggle{
    display: none;
  }
  //gap: 48px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav ul {
    list-style: none;
    display: flex;
    gap: 24px;


  }
  .nav a {
    text-decoration: none;
    color: $secondary-color;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

.lang-select {
    margin-left: 20px !important;

  position: relative;
  display: inline-block;

  i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: $accent-color;
    //z-index: 1;
  }

  ::ng-deep select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 1px solid $accent-color;
    border-radius: 27px;
    color: #ffffff;

    padding: 8px 40px 8px 17px; /* Chap tomonda icon uchun joy */
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    ::ng-deep .options {
      background-color: white; /* Default background */
      color: $primary-color;
    }

    ::ng-deep .options:hover {
      background-color: red !important; /* Hoverda fon rangi */
      color: white; /* Hoverda matn rangi */
    }
  }
}

///* Mobile view */
//@media (max-width: 768px) {
//  .header {
//    padding: 10px 0;
//  }
//
//  .menu-toggle{
//    display: block !important;
//  }
//
//  .logo h3 {
//    font-size: 18px;
//    line-height: 22px;
//  }
//
//  .nav {
//    display: block;
//    text-align: center;
//
//    ul {
//      display: block;
//      gap: 16px;
//      margin-top: 10px;
//    }
//
//    a {
//      font-size: 14px;
//      line-height: 20px;
//    }
//  }
//
//  .lang-select {
//    margin-top: 10px;
//    display: flex;
//    justify-content: center;
//    width: 100%;
//
//    i {
//      right: unset;
//      left: 10px;
//    }
//
//    ::ng-deep select {
//      width: 100%;
//      padding: 10px;
//      font-size: 14px;
//    }
//  }
//}
//
///* Tablet view */
//@media (max-width: 1024px) {
//  .container {
//    padding: 0 15px;
//  }
//
//  .nav ul {
//    gap: 20px;
//  }
//
//  .nav a {
//    font-size: 15px;
//  }
//
//  .lang-select {
//    margin-left: 15px;
//  }
//}
//
///* Large screens */
//@media (min-width: 1200px) {
//  .header {
//    //padding: 16px 0;
//  }
//
//  .nav ul {
//    gap: 30px;
//  }
//}

