<section class="hero" >
  <div class="container">
    <h1>Лучший сон начинается с <br><span>Magneto Matras</span></h1>
    <p>Наши матрасы обеспечивают идеальную поддержку позвоночника, <br> помогают расслабиться и восстановить силы после долгого дня</p>
    <div class="absolute-section">
      <img src="assets/Frame%20270.svg" alt="Magneto Matras">
    </div>
    <div class="hero-image">
      <img src="assets/filmreal-studio-m-yE2MY4NG0-unsplash.svg" alt="Magneto Matras">
    </div>
  </div>
</section>
