<footer class="footer1">
  <div class="container">
    <div class="logo">
      <div>
        <img src="assets/logo.svg" alt="">
        <h3>
          Magneto
        </h3>
      </div>
      <div>
        <img src="assets/icons/Youtube.svg" alt="Youtube icon">
        <img src="assets/icons/Telegram.svg" alt="Telegram icon">
        <img src="assets/icons/Facebook.svg" alt="Facebook icon">
        <img src="assets/icons/Instagram.svg" alt="Instagram icon">
      </div>
    </div>
    <nav>
      <a href="#">Топ продукты</a>
      <a href="#">О нас</a>
      <a href="#">Результаты</a>
      <a href="#">Кулеры</a>
      <a href="#">Где купить?</a>
      <a href="#">Все продукции</a>
      <a href="#">Новости</a>
    </nav>

    <div class="line">

    </div>

    <p>© 2025 IG agency</p>
  </div>
</footer>
